// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    background-image: url("https://www.foodmakers.it/wp-content/uploads/2021/01/mario-cammardella_copertina-articolo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 120px;
}

.pizze{
    height: 100%;
    overflow: hidden;
}

.pizze:hover{
    overflow: auto;
    &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgb(207, 2, 2);
        border-radius: 10px;
    }
}



.pizza{
    width: 200px;
    margin: 30px;
    img{
        width: 100%;
    }
}

.table{
    color: rgb(255, 255, 255);
    background-color: rgba(0,0,0,0.5);
    border-radius: 20px;
    padding: 10px;
}
